# Thư mục build/output không cần format
build
dist
coverage

# React Native specific
android
ios
eas.json
package-lock.json
package.json

# Node modules
node_modules

# Git
.git
.gitignore

# Hệ điều hành
.DS_Store

# VSCode settings
.vscode

# Logs
*.log

# Bundle files
*.bundle.js

# Tạm thời
temp
tmp

# Env file
.env
.env.*
README.md